{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Top Baby Deal - Baby and Kids deals from around the web, ranked!{% endblock title %}

{% block content %}
    <h3 class="page_title">Baby and Kids deals from around the web, ranked!</h3>
    <table border="0" cellpadding="0" cellspacing="0" class="item-list outer level-0">
         <tbody>
        {% for deal_link in deal_links %}
            <tr id="{{ deal_link.id }}" class="{% if forloop.counter == 1 %}row_one {% else %} row_other {% endif %}">
                <td>
                    <span class="numberCircle">#{{ forloop.counter }}</span></td>
                <td>
                    <div>
                    <img class="deal_image img-responsive" src="{{ deal_link.image_url }}" alt="FalconX launch"/></td>
                    </div>
                <td class="deal_link_container">
{#                    {% if forloop.counter == 1 %}<p class="deal_date">Top Deal of Day</p>{% endif %}#}
                    <a href="{{ deal_link.link }}" target="_blank" class="deal_link">{{ deal_link.title }}
                    </a>
                    <span class="site_name" style="color:#{{ deal_link.site.color_hex }};">({{ deal_link.site.site_name }})</span>
                    <p class="sub_title">{{ deal_link.sub_title }}</p>
                    <p class="deal_date">Posted {{ deal_link.import_date }}</p>

                </td>

                <td>
                    <img id="upvote_{{ deal_link.id }}"
                         class="upvote vote_button {% if user.is_authenticated and deal_link.id in user_upvotes_link_ids %}voted{% endif %}"
                         src="{% static 'images/smile.png' %}" alt="FalconX launch"
                         {% if not user.is_authenticated %}
                         data-toggle="modal" data-target="#exampleModalCenter"
                         {% endif %}
                    />


                    <img id="downvote_{{ deal_link.id }}"
                         class="downvote vote_button {% if user.is_authenticated and deal_link.id in user_downvotes_link_ids %}downvoted{% endif %}"
                         src="{% static 'images/frown.png' %}" alt="FalconX launch"
                         {% if not user.is_authenticated %}
                         data-toggle="modal" data-target="#exampleModalCenter"
                         {% endif %}
                    />
                    ️️
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <br>
    <br><br>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Please log in to vote</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <a href="{% provider_login_url 'google' %}"><img id="google_button" src="{% static 'images/btn_google_signin_light_normal_web@2x.png' %}" alt="FalconX launch"/></a>

      </div>
    </div>
  </div>
</div>

{% endblock content %}