a {
    color: #316DBA;
}
.site_name{
    font-size: 9px;
}

.beta_text{

    font-style: italic;
    font-weight: 100;
    /* margin-left: -10px; */
    /* margin-top: -8px; */
    position: absolute;
    top: 15px;
    font-size: 15px;
    left: 206px;
    opacity: .7;
}

.sub_title{
    font-size: 10px;
}

img:active {
    transform: translate(4px, 4px);
}

#google_button{
    width: 150px;
        border: 1px solid #316DBA;
    border-radius: .25rem;
}

.vote_button {
    cursor: pointer;
    width: 57px;
    display: inline-block;
    /* margin-right: 10px; */
    /* margin-left: 5px; */
    font-size: 52px;
    text-align: center;
    height: 54px;
    line-height: 62px;
    margin: 6px;
}

.deal_image {
    /* cursor: pointer; */
    width: 195px;
    /* height: 50px; */
    display: inline-block;
    /* margin-right: 10px; */
    /* margin-left: 5px; */
    font-size: 50px;
    text-align: center;
    /* display: block; */
    /* max-width: 230px; */
    /* max-height: 95px; */
    /* width: auto; */
    /* height: auto; */
    padding: 34px;
}


.bg-dark {
    background-color: #316DBA !important;

}

.row_other{
    border-top: 1px solid lightgray;
}

.deal_link_container{
    padding-top: 15px;
}

.page_title{
    border-bottom: 1px solid lightgray;
    padding-bottom: 18px;
}

.deal_date{
     margin-top: -6px;
    /* margin-bottom: -53px; */
    /* text-align: center; */
    font-size: 9px;
    /* position: relative; */
    /* top: -88px; */
    /* display: block; */
    /* width: 31px; */
    color: #F67D7D;
    opacity: 0.6;
}

.navbar_bottom{
    margin-top: 15px;
    height: 35px;
    line-height: 10px;
}

.navbar-brand {

    font-size: 1rem;
}

#titleImage {
    width: 200px;
}

.numberCircle {
   border-radius: 50%;
    width: 30px;
    height: 36px;
    padding: 6px;
    background: #fff;
    border: 1px solid #40B1B0;
    color: #40B1B0;
    text-align: center;
    font: 10px Arial, sans-serif;
    font-weight: 400;
    margin-right: 5px;
}

.voted {
    background: #40B1B0;
    /* background-size: 10px; */
    border-radius: 88px;
}

.downvoted {
    background: #F67D7D;
    /* background-size: 10px; */
    border-radius: 88px;
}

@media only screen and (min-width: 600px) {
    .upvote:hover,
    .voted {
        background: #40B1B0;
        /* background-size: 10px; */
        border-radius: 88px;
    }

    .downvote:hover,
    .downvoted {
        background: #F67D7D;
        /* background-size: 10px; */
        border-radius: 88px;
    }
}

@media only screen and (max-width: 600px) {
    .deal_image {
        /* cursor: pointer; */
        width: 94px;
        /* height: 50px; */
        display: inline-block;
        /* margin-right: 10px; */
        /* margin-left: 5px; */
        font-size: 50px;
        text-align: center;
        /* display: block; */
        /* max-width: 230px; */
        /* max-height: 95px; */
        /* width: auto; */
        /* height: auto; */
        padding: 13px;
        padding-left: 0px;
    }

    .vote_button {
        cursor: pointer;
        width: 45px;
        display: inline-block;
        /* margin-right: 10px; */
        /* margin-left: 5px; */
        font-size: 45px;
        /* text-align: center; */
        height: 43px;
        line-height: 53px;
        margin: 5px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

