a {
    color: #316DBA;
}

.site_name {
    font-size: 9px;
}


.beta_text {

    font-style: italic;
    font-weight: 100;
    /* margin-left: -10px; */
    /* margin-top: -8px; */
    position: absolute;
    top: 15px;
    font-size: 15px;
    left: 206px;
    opacity: .7;
}

.sub_title {
    font-size: 12px;
}

img:active {
    transform: translate(4px, 4px);
}

.rating {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
}

.hotness_score {
    margin-bottom: -7px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1px;
}

.diaper_link{
    font-weight: 100;
    font-style: italic;
}

.like,
.dislike {
    display: inline-block;
    cursor: pointer;
    margin: 6px 7px;
    font-size: 33px;
    width: 39px;
    line-height: 35px;
}




.voted {
    color: #40B1B0;
}

.downvoted {
    color: #F67D7D;
}

.active {
    color: #2EBDD1;
}

#google_button {
    width: 150px;
    border: 1px solid #316DBA;
    border-radius: .25rem;
}


.deal_image {
    /* cursor: pointer; */
    width: 195px;
    /* height: 50px; */
    display: inline-block;
    /* margin-right: 10px; */
    /* margin-left: 5px; */
    font-size: 50px;
    text-align: center;
    /* display: block; */
    /* max-width: 230px; */
    /* max-height: 95px; */
    /* width: auto; */
    /* height: auto; */
    padding: 34px;
}


.bg-dark {
    background-color: #316DBA !important;

}

.row_other {
    border-top: 1px solid lightgray;
}

.deal_link_container {
    padding-top: 15px;
    padding-right: 10px;
}

.page_title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 18px;
}

.deal_date {
    margin-top: -7px;
    font-size: 13px;
    color: #F67D7D;
    opacity: 0.6;
}

.navbar_bottom {
    margin-top: 15px;
    height: 35px;
    line-height: 10px;
}

.navbar-brand {

    font-size: 1rem;
}

#titleImage {
    width: 200px;
}

.numberCircle {
    border-radius: 50%;
    width: 30px;
    height: 36px;
    padding: 6px;
    background: #fff;
    border: 1px solid #40B1B0;
    color: #40B1B0;
    text-align: center;
    font: 10px Arial, sans-serif;
    font-weight: 400;
    margin-right: 5px;
}

@media only screen and (min-width: 600px) {
    .upvote:hover,
    .voted {
        cursor: pointer;
    }

    .downvote:hover,
    .downvoted {
        cursor: pointer;
    }
    .like:hover {
    color: #40B1B0;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.dislike:hover {
    color: #F67D7D;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

    .like,
    .dislike {
        font-size: 45px;
    }
}

@media only screen and (max-width: 600px) {
    .deal_image {
        /* cursor: pointer; */
        width: 94px;
        /* height: 50px; */
        display: inline-block;
        /* margin-right: 10px; */
        /* margin-left: 5px; */
        font-size: 50px;
        text-align: center;
        /* display: block; */
        /* max-width: 230px; */
        /* max-height: 95px; */
        /* width: auto; */
        /* height: auto; */
        padding: 13px;
        padding-left: 0px;
    }


    h1 {
        font-size: 1.5rem;
    }


}

